/* Start Variables */
:root {
    --main-color: #2196f3;
    --section-background: #ececec;
    --padding-section: 60px;
    --main-transition: 0.3s;
    --padding-section: 60px
}

/* End Variables */
/* Start Global roles */
* {
    --webkit-box-sizing: border-box;
    --mos-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* End Global roles */
/* Start main header */
h2.main-header {
    width: fit-content;
    margin: 50px auto;
    padding: 10px 20px;
    border: 3px solid black;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: all .5s .6s;
    z-index: 1;
}

h2.main-header:hover {
    color: white;
    border: none;
}

h2.main-header::before,
h2.main-header::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h2.main-header:hover::before,
h2.main-header:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
}

h2.main-header::before {
    left: -40px;
    transition: left var(--main-transition), width var(--main-transition) var(--main-transition), height var(--main-transition) var(--main-transition), border-radius var(--main-transition) var(--main-transition), z-index .1s var(--main-transition), z-index .1s .5s;
}

h2.main-header:hover::before {
    left: 0;
}

h2.main-header::after {
    right: -40px;
    transition: right var(--main-transition), width var(--main-transition) var(--main-transition), height var(--main-transition) var(--main-transition), border-radius var(--main-transition) var(--main-transition), z-index .1s var(--main-transition);
}

h2.main-header:hover::after {
    right: 0;
}

/* End main header */
/* Start header */
header {
    background-color: white;
    position: relative;
    --webkit-box-shadow: 0 0 10px #ddd;
    --moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

header .container .logo {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
}

@media (max-width: 767px) {
    header .container .logo {
        height: 50px;
        width: 100%;
    }
}

header .container .links {
    display: flex;
}

@media (max-width: 767px) {
    header .container .links {
        margin: auto;
    }
}

header .container .links>li>a {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    position: relative;
    color: black;
}

@media (max-width: 767px) {
    header .container .links>li>a {
        height: 50px;
        font-size: 14px;
        padding: 0 10px;
    }
}

header .container>ul>li>a::before {
    content: "";
    width: 0;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: var(--main-transition);
}

header .container>ul>li>a:hover::before {
    width: 100%;
}

header .container>ul>li>a:hover {
    background-color: #edebeb;
    font-weight: bold;
    color: var(--main-color);
}

header .container .other-links {
    display: none;
    width: 100%;
    padding: 30px;
    display: flex;
    position: absolute;
    left: 0;
    top: calc(100% + 50px);
    background-color: white;
    border-bottom: 5px solid var(--main-color);
    border-top: 5px solid var(--main-color);
    z-index: -1;
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

header .container>ul li:last-of-type:hover .other-links {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

header .container .other-links .image {
    align-self: center;
}

header .container .other-links .image img {
    width: 500px;
}

@media (max-width: 991px) {
    header .container .other-links .image {
        display: none;
    }
}

header .container .other-links ul {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

@media (max-width: 767px) {
    header .container .other-links ul {
        flex-direction: column;
    }
}

header .container>ul li:last-of-type .other-links ul li {
    width: 45%;
    padding-left: 0;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    header .container .other-links ul li {
        width: 100% !important;
        padding: 15px;
    }
}

header .container>ul li:last-of-type .other-links ul li a i {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 20px 0;
}

header .container>ul li:last-of-type .other-links ul li a {
    color: var(--main-color);
    font-weight: bold;
}

header .container>ul li:last-of-type .other-links ul li:not(:last-of-type, :nth-last-of-type(2)) {
    border-bottom: 1px solid #777;
}

@media (max-width: 767px) {
    header .container>ul li:last-of-type .other-links ul li:not(:last-of-type) {
        border-bottom: 1px solid #777;
    }
}

/* End header */
/* Start landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -40px;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    position: relative;
    min-height: calc(100vh - 70px);
    padding-bottom: 7.5rem;
}

.landing .container .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .container .text {
        text-align: center;
    }
}

.landing .container .text h1 {
    font-size: 40px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .container .text p {
    font-size: 23px;
    line-height: 1.7;
    color: #666;
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .container .image img {
    width: 600px;
    position: relative;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .container .image {
        display: none;
    }
}

.landing .container i {
    color: var(--main-color);
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: bouncing 1.5s infinite;

}

/* End landing */
/* Start articles section */
.articles {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.articles .container section {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.articles .container section article {
    --webkit-box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    --omz-box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition);
    background-color: white;
}

.articles .container section article:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 0 2px 15px rgb(0 0 0 /20%);
    --omz-box-shadow: 0 2px 15px rgb(0 0 0 /20%);
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
}

.articles .container section article:hover .info i {
    animation: move-arrow 0.6s infinite linear;
}

.articles .container section article img {
    width: 100%;
}

.articles .container section article .text {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.articles .container section article .text h3 {
    margin-bottom: 10px;
}

.articles .container section article .text p {
    line-height: 1.5;
    color: #777;
}

.articles .container section article .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .container section article .info a {
    font-weight: bold;
    color: var(--main-color);
}

.articles .container section article .info i {
    color: var(--main-color);
}

/* End articles section */
/* Start gallery section */
.gallery {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
}

.gallery .content {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.gallery .content .box {
    border: 10px solid white;
    --webkit-box-shadow: 0 2px 15px rgb(0 0 0 /50%);
    --omz-box-shadow: 0 2px 15px rgb(0 0 0 /50%);
    box-shadow: 0 2px 15px rgb(0 0 0 /50%);
    transition: transform var(--main-transition);
    overflow: hidden;
    position: relative;
}

.gallery .container .content .box::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255 255 255 /20%);
    opacity: 0;
    z-index: 2;
}

.gallery .container .content .box:hover::before {
    animation: flashing 0.7s;
}

.gallery .content .box img {
    width: 100%;
}

.gallery .content .box:hover img {
    transform: rotate(5deg) scale(1.1);
}

/* End gallery section */
/* Start features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding-top: 50px;
}
.features .container .box  {
    border: 1px solid #ccc
}
.features .container .box .image {
    position: relative;
    overflow: hidden;
}
.features .container .box .image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.features .container .box:nth-of-type(1) .image::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .container .box:nth-of-type(2) .image::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .container .box:nth-of-type(3) .image::before {
    background-color: rgb(3 169 244 / 60%);
}
.features .container .box .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--main-transition);
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
}
.features .container .box:hover .image::after {
    border-width: 170px 500px 170px 0;
}
.features .container .box {
    text-align: center;
}
.features .container .box img {
    width: 100%;
}
.features .container .box h3 {
    width: fit-content;
    margin: 0 auto 40px;
    position: relative;
}
.features .container .box h3::before {
    content: "";
    width: 90%;
    height: 5px;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}
.features .container .box:nth-of-type(1) .info h3::before {
    background-color: rgb(244 64 54);
}
.features .container .box:nth-of-type(2) .info h3::before {
    background-color: rgb(0 150 136);
}
.features .container .box:nth-of-type(3) .info h3::before {
    background-color: rgb(3 169 244);
}
.features .container .box .info p {
    line-height: 1.8;
    color: #777;
}
.features .container .box .info a {
    display: block;
    width: fit-content;
    border-radius: 10px;
    border: 3px solid;
    padding: 10px 20px;
    margin: 30px auto;
    font-weight: bold;
    position: relative;
}
.features .container .box:nth-of-type(1) .info a {
    border-color: rgb(244 64 54);
    color: rgb(244 64 54);
}
.features .container .box:nth-of-type(2) .info a {
    border-color: rgb(0 150 136);
    color: rgb(0 150 136);
}

.features .container .box:nth-of-type(3) .info a {
    border-color: rgb(3 169 244);
    color: rgb(3 169 244);
}
.features .container .box:hover .info a {
    color: white;
}
.features .container .box .info a::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: -1;
}
.features .container .box:nth-of-type(1) .info a::before {
    background-color: rgb(244 64 54);
}

.features .container .box:nth-of-type(2) .info a::before {
    background-color: rgb(0 150 136);
}

.features .container .box:nth-of-type(3) .info a::before {
    background-color: rgb(3 169 244);
}
.features .container .box:hover .info a::before {
    width: 100%;
}

/* End features */
/* Start testimonials */
.testimonials {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    padding-top: 50px;
}
.testimonials .container .box {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 15px 0 rgb(0 0 0 /20%) ;
    position: relative;
}
.testimonials .container .box .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY( -50%);
    overflow: hidden;
}
.testimonials .container .box .image img {
    width: 100%;
}
.testimonials .container .box .info {
    padding: 20px;
}
.testimonials .container .box .info h3 {
    font-size: 20px;
    font-weight: bold;
}
.testimonials .container .box .info p {
    margin: 10px 0 0;
    font-size: 18px;
    line-height: 1.8;
    color: #777;
}
.testimonials .container .box .info .star-color {
    color: gold;
}

/* End testimonials */
/* Animations */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    90%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes move-arrow {
    to {
        transform: translateX(-10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
    }
}