/* Start Variables */
:root {
    --main-color: #2196f3;
    --section-background: #ececec;
    --padding-section: 60px;
    --main-transition: 0.3s;
    --padding-section: 60px
}

/* End Variables */
/* Start Global roles */
* {
    --webkit-box-sizing: border-box;
    --mos-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* End Global roles */
/* Start main header */
h2.main-header {
    width: fit-content;
    margin: 50px auto;
    padding: 10px 20px;
    border: 3px solid black;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: all .5s .6s;
    z-index: 1;
}

h2.main-header:hover {
    color: white;
    border: none;
}

h2.main-header::before,
h2.main-header::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h2.main-header:hover::before,
h2.main-header:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
}

h2.main-header::before {
    left: -40px;
    transition: left var(--main-transition), width var(--main-transition) var(--main-transition), height var(--main-transition) var(--main-transition), border-radius var(--main-transition) var(--main-transition), z-index .1s var(--main-transition), z-index .1s .5s;
}

h2.main-header:hover::before {
    left: 0;
}

h2.main-header::after {
    right: -40px;
    transition: right var(--main-transition), width var(--main-transition) var(--main-transition), height var(--main-transition) var(--main-transition), border-radius var(--main-transition) var(--main-transition), z-index .1s var(--main-transition);
}

h2.main-header:hover::after {
    right: 0;
}

/* End main header */
/* Start header */
header {
    background-color: white;
    position: relative;
    --webkit-box-shadow: 0 0 10px #ddd;
    --moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

header .container .logo {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
}

@media (max-width: 767px) {
    header .container .logo {
        height: 50px;
        width: 100%;
    }
}

header .container .links {
    display: flex;
}

@media (max-width: 767px) {
    header .container .links {
        margin: auto;
    }
}

header .container .links>li>a {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    position: relative;
    color: black;
}

@media (max-width: 767px) {
    header .container .links>li>a {
        height: 50px;
        font-size: 14px;
        padding: 0 10px;
    }
}

header .container>ul>li>a::before {
    content: "";
    width: 0;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: var(--main-transition);
}

header .container>ul>li>a:hover::before {
    width: 100%;
}

header .container>ul>li>a:hover {
    background-color: #edebeb;
    font-weight: bold;
    color: var(--main-color);
}

header .container .other-links {
    display: none;
    width: 100%;
    padding: 30px;
    display: flex;
    position: absolute;
    left: 0;
    top: calc(100% + 50px);
    background-color: white;
    border-bottom: 5px solid var(--main-color);
    border-top: 5px solid var(--main-color);
    z-index: -1;
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

header .container>ul li:last-of-type:hover .other-links {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

header .container .other-links .image {
    align-self: center;
}

header .container .other-links .image img {
    width: 500px;
}

@media (max-width: 991px) {
    header .container .other-links .image {
        display: none;
    }
}

header .container .other-links ul {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

@media (max-width: 767px) {
    header .container .other-links ul {
        flex-direction: column;
    }
}

header .container>ul li:last-of-type .other-links ul li {
    width: 45%;
    padding-left: 0;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    header .container .other-links ul li {
        width: 100% !important;
        padding: 15px;
    }
}

header .container>ul li:last-of-type .other-links ul li a i {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 20px 0;
}

header .container>ul li:last-of-type .other-links ul li a {
    color: var(--main-color);
    font-weight: bold;
}

header .container>ul li:last-of-type .other-links ul li:not(:last-of-type, :nth-last-of-type(2)) {
    border-bottom: 1px solid #777;
}

@media (max-width: 767px) {
    header .container>ul li:last-of-type .other-links ul li:not(:last-of-type) {
        border-bottom: 1px solid #777;
    }
}

/* End header */
/* Start landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -40px;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    position: relative;
    min-height: calc(100vh - 70px);
    padding-bottom: 7.5rem;
}

.landing .container .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .container .text {
        text-align: center;
    }
}

.landing .container .text h1 {
    font-size: 40px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .container .text p {
    font-size: 23px;
    line-height: 1.7;
    color: #666;
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .container .image img {
    width: 600px;
    position: relative;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .container .image {
        display: none;
    }
}

.landing .container i {
    color: var(--main-color);
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: bouncing 1.5s infinite;

}

/* End landing */
/* Start articles section */
.articles {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.articles .container section {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.articles .container section article {
    --webkit-box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    --omz-box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition);
    background-color: white;
}

.articles .container section article:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 0 2px 15px rgb(0 0 0 /20%);
    --omz-box-shadow: 0 2px 15px rgb(0 0 0 /20%);
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
}

.articles .container section article:hover .info i {
    animation: move-arrow 0.6s infinite linear;
}

.articles .container section article img {
    width: 100%;
}

.articles .container section article .text {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.articles .container section article .text h3 {
    margin-bottom: 10px;
}

.articles .container section article .text p {
    line-height: 1.5;
    color: #777;
}

.articles .container section article .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .container section article .info a {
    font-weight: bold;
    color: var(--main-color);
}

.articles .container section article .info i {
    color: var(--main-color);
}

/* End articles section */
/* Start gallery section */
.gallery {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
}

.gallery .content {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.gallery .content .box {
    border: 10px solid white;
    --webkit-box-shadow: 0 2px 15px rgb(0 0 0 /50%);
    --omz-box-shadow: 0 2px 15px rgb(0 0 0 /50%);
    box-shadow: 0 2px 15px rgb(0 0 0 /50%);
    transition: transform var(--main-transition);
    overflow: hidden;
    position: relative;
}

.gallery .container .content .box::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255 255 255 /20%);
    opacity: 0;
    z-index: 2;
}

.gallery .container .content .box:hover::before {
    animation: flashing 0.7s;
}

.gallery .content .box img {
    width: 100%;
}

.gallery .content .box:hover img {
    transform: rotate(5deg) scale(1.1);
}

/* End gallery section */
/* Start features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--padding-section);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding-top: 50px;
}

.features .container .box {
    border: 1px solid #ccc
}

.features .container .box .image {
    position: relative;
    overflow: hidden;
}

.features .container .box .image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.features .container .box:nth-of-type(1) .image::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .container .box:nth-of-type(2) .image::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .container .box:nth-of-type(3) .image::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .container .box .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--main-transition);
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
}

.features .container .box:hover .image::after {
    border-width: 170px 500px 170px 0;
}

.features .container .box {
    text-align: center;
}

.features .container .box img {
    width: 100%;
}

.features .container .box h3 {
    width: fit-content;
    margin: 0 auto 40px;
    position: relative;
}

.features .container .box h3::before {
    content: "";
    width: 90%;
    height: 5px;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.features .container .box:nth-of-type(1) .info h3::before {
    background-color: rgb(244 64 54);
}

.features .container .box:nth-of-type(2) .info h3::before {
    background-color: rgb(0 150 136);
}

.features .container .box:nth-of-type(3) .info h3::before {
    background-color: rgb(3 169 244);
}

.features .container .box .info p {
    line-height: 1.8;
    color: #777;
}

.features .container .box .info a {
    display: block;
    width: fit-content;
    border-radius: 10px;
    border: 3px solid;
    padding: 10px 20px;
    margin: 30px auto;
    font-weight: bold;
    position: relative;
}

.features .container .box:nth-of-type(1) .info a {
    border-color: rgb(244 64 54);
    color: rgb(244 64 54);
}

.features .container .box:nth-of-type(2) .info a {
    border-color: rgb(0 150 136);
    color: rgb(0 150 136);
}

.features .container .box:nth-of-type(3) .info a {
    border-color: rgb(3 169 244);
    color: rgb(3 169 244);
}

.features .container .box:hover .info a {
    color: white;
}

.features .container .box .info a::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: -1;
}

.features .container .box:nth-of-type(1) .info a::before {
    background-color: rgb(244 64 54);
}

.features .container .box:nth-of-type(2) .info a::before {
    background-color: rgb(0 150 136);
}

.features .container .box:nth-of-type(3) .info a::before {
    background-color: rgb(3 169 244);
}

.features .container .box:hover .info a::before {
    width: 100%;
}

/* End features */
/* Start testimonials */
.testimonials {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding-top: 50px;
}

.testimonials .container .box {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 15px 0 rgb(0 0 0 /20%);
    position: relative;
}

.testimonials .container .box .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    overflow: hidden;
}

.testimonials .container .box .image img {
    width: 100%;
}

.testimonials .container .box .info {
    padding: 20px;
}

.testimonials .container .box .info h3 {
    font-size: 20px;
    font-weight: bold;
}

.testimonials .container .box .info p:first-of-type {
    margin-bottom: 10px;
}

.testimonials .container .box .info p {
    margin: 10px 0 0;
    font-size: 18px;
    line-height: 1.8;
    color: #777;
}

.testimonials .container .box .info .star-color {
    color: gold;
}

/* End testimonials */
/* Start Team Members */
.team-members {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.team-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team-members .container .box .box-content {
    background-color: rgb(0 0 0 /10%);
    width: 80%;
    margin-left: auto;
    aspect-ratio: 1 / 1.5;
    padding-top: 15%;
    border-radius: 10px;
    position: relative;
}

.team-members .container .box .box-content::before {
    content: "";
    width: 0;
    height: 100%;
    background-color: rgb(0 0 0 /5%);
    position: absolute;
    right: 0;
    top: 0;
    transition: var(--main-transition);
}

.team-members .container .box:hover .box-content::before {
    width: 100%;
}

.team-members .container .box .box-content .image {
    position: relative;
    right: 25%;
    border-radius: 15px;
    overflow: hidden;
}

.team-members .container .box .box-content .image img {
    max-width: 100%;
}

.team-members .container .box:hover .box-content .image img {
    filter: grayscale(100%);
}

/* .team-members .container .box .content {
    display: flex;
} */
.team-members .container .box .box-content .social {
    display: inline-flex;
    width: fit-content;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

}

.team-members .container .box .box-content .social i {
    padding: 0 25px 40px;
    color: rgb(0 0 0 /50%);
    font-size: 20px;
}

.team-members .container .box .box-content .social i:hover {
    color: var(--main-color);
}

.team-members .container .box .box-content .info {
    padding: 10px 15px 0;
}

.team-members .container .box .box-content .info h2 {
    margin-bottom: 10px;
    color: var(--main-color);
}

.team-members .container .box:hover .box-content .info h2 {
    color: #777;
}

.team-members .container .box .box-content .info p {
    font-size: 20px;
    color: #777;
    padding-bottom: 10px;
}

/* End Team Members */
/* Start services */
.services {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .container .box {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgb(0 0 0 /20%);
    position: relative;
    counter-increment: box-counter;
    transition: var(--main-transition);
}

.services .container .box:hover {
    transform: translateY(-10px);
    box-shadow: 2px 2px 10px rgb(0 0 0 /50%);
}

.services .container .box::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.services .container .box:hover::before {
    width: 100%;
}

.services .container .box::after {
    content: "0" counter(box-counter);
    width: 100px;
    height: 50px;
    background-color: var(--main-color);
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-image: linear-gradient(70% var(--main-color), 70% #777);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.services .container .box i {
    color: #dddbdb;
}

.services .container .box h2 {
    color: var(--main-color);
    font-size: 30px;
    margin: 20px auto;
}

.services .container .box .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services .container .box span {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #dddbdb;
    position: relative;
    left: 80px;
    transform: skewX(-35deg);
    z-index: 2;
}

.services .container .box a {
    display: block;
    color: var(--main-color);
    margin-right: 20px;

}

/* End services */
/* Start skills */
.our-skills {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.our-skills .container {
    display: flex;
    align-items: center;
}

.our-skills .container .image {
    width: 50%;
}

@media (max-width: 991px) {
    .our-skills .container .image {
        display: none;
    }
}

.our-skills .container .image img {
    width: 100%;
}

.our-skills .container .skills {
    flex: 1;
}

.our-skills .container .skill .prog {
    margin: 30px auto;
    height: 40px;
    background-color: #ccc;
    border: none;
    position: relative;
}

.our-skills .container .skill .prog::before {
    content: attr(data-prog);
    width: 35px;
    height: 20px;
    border: 1px solid rgb(108, 107, 107);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--main-color);
    position: absolute;
    right: 0;
    top: -40px;
}

.our-skills .container .skill .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
}

/* End skills */
/* Start work steps */
.work-steps {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
}

.work-steps .container {
    display: flex;
    align-items: center;
    gap: 50px;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps .container .image img {
    max-width: 100%;
}

.work-steps .container .steps .step {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: rgb(249, 244, 244);
    border: 1px solid #dddbdb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.work-steps .container .steps .step::before {
    content: "";
    width: 0;
    height: 0;
    background-color: rgb(0 0 0 /5%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--main-transition);
}

.work-steps .container .steps .step:hover:before {
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .work-steps .container .steps .step {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps .container .steps .step img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.work-steps .container .steps .step .info p {
    margin: 10px auto;
    color: #777;
    line-height: 1.8;
}

/* End work steps */
/* Start Events */
.events {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.events .container {
    display: flex;
}

.events .container img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .events .container img {
        display: none;
    }
}

.events .container .content {
    flex: 1;
    text-align: center;
}

.events .container .boxes {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: auto
}

.events .container .boxes .box {
    width: 70px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.events .container .boxes .box h3 {
    padding: 10px;
    color: var(--main-color);
    border-bottom: 1px solid #ccc;
}

.events .container .boxes .box:hover,
.events .container .boxes .box:hover h3 {
    border-color: var(--main-color);
}

.events .container .boxes .box div {
    padding: 10px 5px;
    font-size: 14px;
}

.events .container h2 {
    margin: 30px auto;
}

.events .container p {
    color: #777;
    line-height: 1.7;
}

.events .container form input {
    display: block;
    width: 300px;
    max-width: 100%;
    border-radius: 30px;
    border: none;
    padding: 20px;
    margin: 20px auto 10px;
}

.events .container form input:focus {
    outline: none;
}

.events .container form input[type="email"] {
    background-color: #eeeeee;
}

.events .container form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

/* End Events */
/* Start pricing */
.pricing {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--section-background);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    position: relative;
}

.pricing .container .plan {
    background-color: white;
    box-shadow: 2px 2px 5px 0 rgb(0 0 0);
    position: relative;
    padding: 20px 0;
    z-index: 1;
}

@media (min-width: 1200px) {
    .pricing .container .plan:nth-child(2) {
        transform: translateY(-20px);
    }
}

.pricing .container .plan::before,
.pricing .container .plan::after {
    content: "";
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    position: absolute;
    transition: var(--main-transition);
    z-index: -1;
}

.pricing .container .plan::before {
    top: 0;
    right: 0;
}

.pricing .container .plan::after {
    top: 50%;
    left: 0;
}

.pricing .container .plan:hover::before,
.pricing .container .plan:hover::after {
    width: 100%;
}

.pricing .container .plan h3 {
    text-align: center;
    margin: 0 auto 20px;
    position: relative;
}

.pricing .container .plan:nth-child(2) h3::before {
    content: "Most Popular";
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    padding: 10px 30px;
    position: absolute;
    right: -60px;
    top: 49px;
    transform: rotate(90deg);
}

.pricing .container .plan:nth-child(2) h3::after {
    content: "";
    border: 20px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: 120px;
    right: 18px;
}

.pricing .container .plan img {
    display: block;
    width: 64px;
    margin: 20px auto
}

.pricing .container .plan .price {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    width: fit-content;
    margin: 20px auto 0;
}

.pricing .container .plan p {
    width: fit-content;
    margin: 0 auto 20px;
    font-size: 14px;
    color: #777;
}

.pricing .container .plan ul {
    margin: 20px 0;
}

.pricing .container .plan ul li {
    padding: 15px;
    border-top: 1px solid #ccc;
    position: relative;
}

.pricing .container .plan ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    margin: auto 10px;
    color: var(--main-color);

}

.pricing .container .plan a {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px auto;
    color: var(--main-color);
    font-weight: bold;
    border: 3px solid var(--main-color);
    border-radius: 6px;
    transition: var(--main-transition);
}

.pricing .container .plan a:hover {
    background-color: var(--main-color);
    color: white;
}

/* End pricing*/
/* Start top videos*/
.top-videos {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.top-videos .container .content {
    background-color: #eee;
    padding: 10px 0;
    border: 1px solid #ccc;
}

@media (min-width: 992px) {
    .top-videos .container .content {
        display: flex;
    }

    .top-videos .container .content .left {
        width: 300px;
    }
}

.top-videos .container h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 20px;
    background-color: #ccc;
}

.top-videos .container .content ul {
    background-color: white;
}

.top-videos .container .content ul li {
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
}

.top-videos .container .content ul li:hover {
    background-color: #ededed;
    color: var(--main-color);
}

.top-videos .container .content ul li span {
    display: block;
    margin-top: 5px;
    color: #777;
}

.top-videos .container .content .image {
    margin: 10px;
}

.top-videos .container img {
    width: 100%;
}

.top-videos .container .content p {
    background-color: white;
    margin: 10px;
    padding: 15px;
}

/* End top videos */
/* Start stats */
.stats-section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.stats-section .container {
    text-align: center;
}

.stats-section .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.stats-section .container .content .box {
    background-color: white;
    padding: 20px;
    position: relative;
}

.stats-section .container .content .box::before,
.stats-section .container .content .box::after {
    content: "";
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    position: absolute;
    transition: 0.5s;
}

.stats-section .container .content .box::before {
    bottom: 0;
    left: 0;
}

.stats-section .container .content .box::after {
    top: 0;
    right: 0;
}

.stats-section .container .content .box:hover::before,
.stats-section .container .content .box:hover::after {
    height: 100%;
}

.stats-section .container .content .box .stats {
    margin: 15px auto;
    font-size: 25px;
    font-weight: bold;
}

.stats-section .container .content .box>p {
    color: var(--main-color);
}

/* End stats */
/* Start discount */
.discount-section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    display: flex;
    text-align: center;
}

@media (max-width: 991px) {
    .discount-section {
        flex-direction: column;
    }
}

.discount-section .discount {
    flex: 1;
    background-color: var(--main-color);
    padding: 50px;
    color: white;
}

.discount-section .discount h2 {
    margin: 30px auto;
}

.discount-section .discount p {
    margin: 30px auto;
    line-height: 1.7;
}

@media (max-width: 991px) {
    .discount-section .discount {
        padding: 20px 30px;
    }
}

.discount-section .discount img {
    width: 300px;
}

.discount-section .request-discount {
    min-width: 50%;
    flex: 1;
    padding: 50px 150px;
}

@media (max-width: 991px) {
    .discount-section .request-discount {
        padding: 20px 30px;
    }
}

.discount-section .request-discount h2 {
    margin: 30px auto;
}

.discount-section .request-discount input {
    display: block;
    width: 400px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto 20px;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 1px solid #ccc;
}

.discount-section .request-discount input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

.discount-section .request-discount textarea {
    display: block;
    width: 400px;
    max-width: 100%;
    height: 200px;
    resize: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    border: none;
    margin: 0 auto 20px;
}

.discount-section .request-discount input:focus,
.discount-section .request-discount textarea:focus {
    outline: none;
}

.discount-section .request-discount input::placeholder,
.discount-section .request-discount textarea::placeholder {
    font-size: 14px;
}

/* End discount-section */
/* Start footer */
.footer {
    background-color: black;
    color: #b9b9b9;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
}

@media (max-width: 767px) {
    .footer .container {
        text-align: center;
    }
}

.footer .container .col:first-child .logo {
    color: white;
}

.footer .container .col:first-child a {
    color: #666;
}

.footer .container .col:first-child a i {
    margin-right: 10px;
}

.footer .container .col:first-child p {
    margin: 20px auto;
    line-height: 1.7;
}

.footer .container .col:nth-child(2) ul li:not(:last-child) {
    border-bottom: 1px solid #b9b9b9;
}

.footer .container .col:nth-child(2) ul li a {
    display: inline-block;
    padding: 15px 15px 15px 0;
    color: #b9b9b9;
    transition: var(--main-transition);
}

.footer .container .col:nth-child(2) ul li a:hover {
    padding-left: 10px;
}

.footer .container .col:nth-child(2) ul li a i {
    margin-right: 10px;
    color: var(--main-color);
}

.footer .container .col:nth-child(3)>div {
    display: flex;
    align-items: center;
    line-height: 1.7;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .footer .container .col:nth-child(3)>div {
        flex-direction: column;
    }
}

.footer .container .col:nth-child(3)>div i {
    display: flex;
    margin-right: 15px;
    color: var(--main-color);
    font-size: 22px;
}

@media (max-width: 767px) {
    .footer .container .col:nth-child(3)>div i {
        margin: 15px auto;
    }
}

.footer .container .col:nth-child(4) img {
    width: 70px;
    border: 3px solid #fff;
}

.footer>p {
    text-align: center;
    padding: 25px 0;
    color: white;
}

/* End footer */
/* Animations */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    90%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes move-arrow {
    to {
        transform: translateX(-10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
    }
}